@import '@/styles/_variables.scss';

.ep-collapse:not(.first) {
  border-top: 1px solid #DADADA;
}

.ep-collapse {

  padding: 27px 0 27px 0;

  .collapse-button {
    cursor: pointer;
    outline: none;
  }

  .header {
    user-select: none;
  }

}
